*{
    overflow-x: hidden;
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0;
    font-family: sans-serif;
    text-transform: uppercase;
}

.main-logo {
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    animation: fadeIn 2s, pulse 5s 1s;
  }
  
  .logo {
    width:  20vw;
    height: auto;
    max-width: 200px;
    min-width: 150px;
  }

.h1-responsive{
    letter-spacing: .25em;
}

.navigation-menu {
    text-align: center;
    font-family: "Raleway";
    font-weight: 800;
    letter-spacing: 3.5px;
    font-size: clamp(15px, 1.35vw, 60px);
    margin-top: 3%;
  }
  
  .navigation-menu .navbar-nav {
    gap: 2vw;
  }
  
  /* .navigation-menu .nav-item:nth-child(n+1) {
     padding-left: 5%;
  } */
  
  .navigation-menu a {
    transition: all 0.1s ease;
    border-bottom: 0.1em solid transparent;
  }
  
  .navigation-menu a:hover {
    box-shadow: 0 1em 0 0 black;
    border-bottom: 0.1em solid black;
  }
  
  .navbar-toggler {
    width: 100%;
    transition: all 0.5s linear;
  }

  .navbar-toggler:active{
      border: none;
      box-shadow: none;
      
  }

  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); 
}

.row{
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    font-family: 'Raleway';
    font-weight: bold;
}

.md-form input[type="text"]:focus{
    border-color: black;
    box-shadow: 0 1.25px 0 0 black;
}

label{
    padding: 5%;
    padding-top: 2%;
    padding-left: 1.5%;
}

.text-center a{
    background-color: black;
    border-radius: 0.1em; 
    padding: 0.65em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: white;
}

.text-center a:hover{
    background-color: rgb(17, 17, 17);
    color: white;
}

p{
    color: rgba(0, 0, 0, 0.395);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 95vw;
    height: 30vh;
    padding: 0%;
    margin: auto;
    place-content: center;
    place-items: center;
    margin-top: 7%;
    margin-bottom: 2%;
  }
  
  .contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    width: 25vw;
    word-break: break-all;
    flex-wrap: wrap;
    font-size: clamp(20px, 8vw, 55px);
  }
  
  .contact-links a {
    padding: 5%;
    color: black;
    transition: all 0.15s ease-in-out;
  }
  
  .contact-links a:hover {
      animation: flash;
      animation-duration: 0.5s;
    }
  
  .input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .input-form input[type="text"] {
    width: 25vw;
    height: 13vh;
    max-height: min(75px, 15vh);
    margin-bottom: 5%;
    font-family: sans-serif;
    font-size: clamp(10px, 1.65vw, 20px);
    padding-left: 1.5%;
    letter-spacing: 2.5px;
    border: 1.5px solid rgba(0, 0, 0, 0.642);
    border-left: none;
    border-right: none;
  }
  
  .input-form input[type="text"]:focus{
      border: 1.5px solid black;
  }
  
  .input-form #sub {
    padding: 1.5em;
    padding-top: 0%;
    padding-bottom: 0%;
    text-transform: uppercase;
    border: none;
    background-color: rgba(0, 0, 0, 0.737);
    color: rgb(240, 230, 211);
    display: flex;
    align-content: center;
    justify-content: center;
    height: 13vh;
    max-height: min(75px, 15vh);
    align-items: center;
    font-family: "Raleway";
    font-weight: bold;
    letter-spacing: 2.5px;
    font-size: clamp(15px, 5vw, 20px);
    transition: all 0.2s linear;
    align-self: flex-end;
  }
  
  .input-form #sub:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 2px 3px 5px black;
    border-top: 5px solid black;
  }
  
  .input-form #sub:hover > i{
      animation: zoomIn 350ms;
  }
  
  .input-form form {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .input-form #email {
    width: 30vw;
    border-bottom: 5px solid rgb(57, 57, 57);
    margin: 0%;
  }
  
  #fname {
    border-top: 5px solid rgb(37, 37, 37);
  }
  
  #lname {
    border-bottom: 5px solid rgb(48, 48, 48);
  }

  @media only screen and (max-width: 576px) {
    .navigation-menu .navbar-nav {
        gap: 10px;
      margin-top: 15px;
    }
  
    .navigation-menu a{
      border: none;
      transition: all 0.1s linear;
    }
  
    .navigation-menu a:hover {
      border: none;
      box-shadow: none;
      margin-right: -7%;
    }
  }